
img{    
    content: "";
    background: no-repeat center center fixed;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    display: block;
    height: 100%;
    width: 100%;
}


#intro_banner, #next_banner{
    background: grey;
    text-align: center;
    height: 450px;
    width: 500px;
    margin-left: 35%;
}



#game{
	display: none;
}

#game2{
	display: none;
}

#car{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	opacity: 1;
}